<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <a href="./" class="logo">ZAPARA</a>
      <ul class="soc">
        <li>
          <a href="#" target="_blank" rel="no-follow">
            <i class="icon-fb"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="no-follow">
            <i class="icon-vk"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="no-follow">
            <i class="icon-inst"></i>
          </a>
        </li>
      </ul>
    </div>
    <nav class="footer__nav">
      <ul>
        <li><a href="#">Фартуки</a></li>
        <li><a href="#">Кители</a></li>
        <li><a href="#">Аксессуары</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Информация</a></li>
      </ul>
    </nav>
    <div class="privacy-policy">
      <span>© Все права защищены</span>
      <span>ИНН 352830954960
        • ОГРН 315352800003521
        • Политика конфиденциальности</span>
    </div>
  </div>
</footer>
<!-- Developer -->
<div class="develop">
  <a href="https://t.me/kh2nh">Develop by: Khánh Nguyễn</a>
</div>
<!-- ========================== -->