<header class="header">
  <div class="header-holder container">
    <div class="burger">
      <div class="burger__holder">
        <span></span>
      </div>
    </div>

    <a href="./" class="logo">ZAPARA</a>

    <nav class="nav">
      <ul>
        <li><a href="#">Фартуки</a></li>
        <li><a href="#">Кители</a></li>
        <li><a href="#">Аксессуары</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Информация</a></li>
      </ul>
    </nav>

    <form action="#" class="form-head">
      <div class="form-search">
        <label class="form-label">
          <input type="text" class="form-control form-control__search" placeholder="Search...">
          <button class="form-head__btn"></button>
        </label>
      </div>

      <a href="#" class="shop-holder">
        <i class="icon-shop"></i>
      </a>
    </form>
  </div>
</header>