.btn {
  font-family: $btn-ff;
  font-size: $btn-fz;
  line-height: $btn-lh;
  font-weight: $btn-fw;
  color: $btn-color;
  border: 2px solid $text;
  background-color: $btn-bgc;
  border-radius: $btn-radius;
  position: relative;

  box-shadow: none;
  padding: 7px 14px;
  text-align: center;

  min-width: 140px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  appearance: none;
  background-origin: border-box;
  transition: 0.3s ease-out;

  &:hover {

    &:after,
    &:before {
      width: calc(100% + 4px);
      height: calc(100% + 2px);
      transition: width 0.3s ease-in-out, height 0.9s ease-in-out;
    }
  }

  &:focus {}

  &:after,
  &:before {
    content: '';
    position: absolute;
  }

  &:after {
    top: -2px;
    left: -2px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 0;
    height: 0;
  }

  &:before {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 0;
    height: 0;
  }
}

button[disabled] {
  color: inherit;
  cursor: not-allowed;
  background-color: $gray;
}