.form {}

.form-head {
  position: relative;
  margin-right: 45px;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: flex-end;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    right: -26px;
    display: block;
    width: 1px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;

    &:hover {
      @media only screen and (min-width: 1025px) {
        background-color: #000;

        &:after {
          color: #fff;
        }
      }
    }

    &:after {
      content: '\e812';
      font-family: 'fontello';
      position: absolute;
      font-size: 16px;
      transition: 0.3s ease;
    }
  }
}

.form-search {
  // width: 280px;
  // height: 40px;
  // position: absolute;
  // top: -20px;
  // right: 0;
}

.form-label {
  display: flex;
  justify-content: flex-end;
  position: relative;
}


.form-control {
  font-family: $main-font;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: $txt-color;
  height: 40px;
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: right;
  padding: 10px 16px;

  display: inline-block;
  vertical-align: top;
  width: 100%;
  outline: none;
  resize: none;
  margin: 0;
  transition: 0.3s ease;

  &__search {
    padding: 10px 44px 10px 16px;
    text-align: left;
    // width: 0%;
    // background-color: transparent;
  }

  &:focus {
    border: 1px solid #ccc;
  }
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: #c7c7c7;
}

*:-moz-placeholder {
  opacity: 1;
  color: #c7c7c7;
}

*::-moz-placeholder {
  opacity: 1;
  color: #c7c7c7;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: #c7c7c7;
}