.form {}

.form-head {
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 36px;
    border: none;
    background-color: transparent;

    &:after {
      content: '\e812';
      font-family: 'fontello';
      position: absolute;

    }
  }
}

.form-search {}

.form-label {
  display: flex;
  justify-content: flex-end;
  position: relative;
}


.form-control {
  font-family: $main-font;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: $txt-color;
  height: 40px;
  background-color: $white;
  border: 1px solid #e0e6ed;
  border-radius: 5px;
  text-align: right;
  padding: 10px 16px;

  display: inline-block;
  vertical-align: top;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  margin: 0;
  transition: 0.3s ease;

  &__search {
    width: 0%;
    background-color: transparent;
  }

  &:focus {
    border: 1px solid gold;
  }
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: #c7c7c7;
}

*:-moz-placeholder {
  opacity: 1;
  color: #c7c7c7;
}

*::-moz-placeholder {
  opacity: 1;
  color: #c7c7c7;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: #c7c7c7;
}