.hero {
  background: rgba(0, 0, 0, 0.17);
  padding-top: 126px;

  &__wrap {
    position: relative;
  }

  &__slider {}

  &__arrows {}

  &__items {}

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__descr {
    text-align: left;
    padding-right: 74px;

    p {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__title {
    font-size: 39px;
    line-height: 48px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 40px;
  }

  &__inner {
    position: relative;
  }

  &__animate {
    position: absolute;
    top: 0;
    left: 54%;
    transform: translate(-50%, 0%);
    z-index: 0;
    width: 600px;
    height: 600px;
    transition: 0.3s linear;

    svg {
      fill: $white;
      width: 100%;
      height: 100%;
      transition: 0.3s linear;
      animation: rotation 45s infinite linear;
    }

    &:hover {
      @media only screen and (min-width: 1025px) {
        transform: translate(-50%, 0%) scale(1.1);

        svg {
          fill: $black;
        }
      }
    }

    &.is-scale {
      transform: translate(-50%, 0%) scale(1.1);

      svg {
        fill: $black;
      }
    }
  }

  &__illustr {
    position: relative;
  }

  .slick-counter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    line-height: 30px;
    position: absolute;
    bottom: 100px;
    right: 0;
  }

  .current {
    color: $text;
  }

  .total {
    color: $white;
  }

  .slider-progress {
    width: 120px;
    height: 1px;
    background: $black;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
  }

  .slider-progress .progress {
    width: 0%;
    height: 1px;
    background: $white;
    position: absolute;
  }
}

.default-link {
  font-size: 18px;
  line-height: 22px;
  color: $text;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-left: 22px;
  padding-right: 12px;
  transition: 0.3s ease;

  &:hover {
    @media only screen and (min-width: 1025px) {
      color: #fff;
      padding-left: 10px;

      &:before {
        width: 100%;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: $black;
    top: 50%;
    left: 0;
    transform-origin: left;
    transition: 0.3s ease;
  }
}

.section-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;

  >.container {
    height: 100%;
    position: relative;
  }

  &.bg-contain {
    background-size: contain;
    background-position: left;
  }
}

.section-holder {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  &.fix-width {
    max-width: 424px;
  }

  &.max-width {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &--left {
      align-items: flex-end;

      .default-link {
        margin-top: 200px;

        &:hover {
          @media only screen and (min-width: 1025px) {
            color: $black;
          }
        }
      }
    }
  }

  &.w-100 {
    width: 100%;
  }

  &._center {
    text-align: center;
  }

  &._left {
    text-align: left;
  }

  &._right {
    text-align: right;
  }

  &.position {
    position: absolute;
  }

  &.absolute-left {
    right: unset;
  }

  &.absolute-center {
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 300;
  }
}

.section-descr {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: $text;
  margin-bottom: 20px;
  letter-spacing: 0.15em;

  &._center {
    text-align: center;
  }

  &._left {
    text-align: left;
  }

  &._right {
    text-align: right;
  }

  &._md {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
  }

  &._light {
    color: $white;
  }

  &._grey {
    color: #ccc;
    font-size: 38px;
    line-height: 48px;
  }
}

.section-title {
  font-size: 78px;
  line-height: 96px;
  font-weight: 400;
  color: $text;
  margin-bottom: 50px;

  &._center {
    text-align: center;
  }

  &._left {
    text-align: left;
  }

  &._right {
    text-align: right;
  }

  &.title-absolute {
    position: absolute;
    top: 100px;
    left: 0;
  }

  &._light {
    color: $white;
  }

  &._grey {
    color: #e7e5e5;
    font-size: 94px;
    line-height: 116px;
    font-weight: 900;
  }
}

.bg-holder {
  position: relative;
  height: 100%;
  overflow: hidden;

  &__col {
    position: absolute;
    width: 50%;
    height: 100%;

    &._left {
      top: 0;
      left: 0;
      padding-right: 26px;
    }

    &._top {
      top: 0;
      right: 0;
    }

    &._bottom {
      bottom: 0;
      right: 0;
    }

  }

  &__inner {
    display: flex;
  }
}

.img-wrap {
  width: 100%;
  height: 100%;

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.border-bottom {
    border-bottom: 20px solid #fff;
    height: auto;
  }

  &.p-right {
    padding-right: 14px;
  }
}

.client-block {
  padding: 100px 0;

  .section-title {
    font-size: 81px;
    line-height: 99px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 100px;
  }
}

.client-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;

  &__items {
    max-width: 20%;
    width: 100%;
    padding: 0 15px;

    span {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.reviews-block {
  background-color: #f4f2f3;
  padding: 80px 0;
  color: $text;

  &__container {
    display: flex;
  }

  &__content {
    max-width: 46%;
    width: 100%;

    p {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.15em;
    }
  }

  &__caption {
    display: inline-block;
    font-size: 75px;
    line-height: 90px;
    font-weight: 800;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 70px;
  }

  &__subtitle {
    font-size: 79px;
    line-height: 96px;
    margin-bottom: 30px;
  }
}

.reviews-slider {
  position: relative;
  max-width: 54%;
  width: 100%;

  &__navigation {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 60;
    display: flex;

    .slick-arrow {
      height: 50px;
      width: 50px;
      border: 1px solid #f4f2f3;

      &:hover {
        @media only screen and (min-width: 1025px) {
          border: 1px solid #ccc;

          &.icon-arrow-left {
            &:before {
              opacity: 0.7;
            }
          }
        }
      }

      &.slick-next {
        transform: rotate(180deg);
        // border-right: none;
      }

      &.icon-arrow-left {
        &:before {
          font-size: 20px;
          color: #000;
          font-weight: 900;
          opacity: 1;
          transition: 0.2s ease;
        }
      }
    }
  }

  &__holder {
    .slick-active {
      .reviews-slider__line {
        height: 382px;
      }

      .reviews-slider__link {
        transform: translate(-12px, -20%);
        color: #fff;

        &.link-fb,
        &.link-inst {
          background-size: 100% 100%;

          &:hover {
            @media only screen and (min-width: 1025px) {
              background-image: linear-gradient(0, transparent, transparent);
              border: 1px solid $text;
              color: $text
            }
          }
        }
      }
    }
  }

  &__items {}

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__social {
    position: relative;
    margin-right: 28px;
  }

  &__line {
    height: 0;
    border-left: 1px solid $text;
    position: relative;
    margin-top: 44px;
    display: block;
    transition: height 0.9s linear;

  }

  &__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: $text;
    writing-mode: vertical-rl;
    position: absolute;
    left: -4px;
    bottom: -6px;
    border: 1px solid #fff;
    transform: translate(-12px, 120%);
    transition-delay: 0.9s, 1.3s;
    transition-duration: 0.5s, 0.2s;
    transition-property: transform,
      background-size;
    transition-timing-function: ease-in-out;
    padding: 6px 4px;
    background-repeat: no-repeat;

    &.link-fb {
      background-image: linear-gradient(120deg, #4867aa 0%, #4867aa 100%);
      background-size: 10% 100%;
    }

    &.link-inst {
      background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background-size: 10% 100%;
    }
  }

  &__inner {
    background-color: #fff;
    max-width: 590px;
    min-height: 556px;
    padding: 60px 34px 46px 60px;
    font-size: 18px;
    line-height: 24px;
  }

  &__personal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 70px;
  }

  &__avatar {
    display: block;
    max-width: 154px;
    height: 154px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 36px;
  }

  &__info {

    span {
      font-size: 24px;
      line-height: 26px;
    }

    small {
      display: inline-block;
      margin-bottom: 10px;
    }

    .icon-star {
      margin-right: 6px;

      &:before {
        margin: 0;
      }
    }
  }

  &__rating {
    display: flex;
  }

  &__txt {}

}

.icon-star {
  &:before {
    color: #f1d333;
  }
}

.completed-works {
  padding: 80px 0;

  &__title {
    font-size: 64px;
    line-height: 78px;
    font-weight: 400;
    color: $text;
    margin-bottom: 80px;
  }

  &__gallery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 80px;

    li {
      flex: 1 1 calc(33.333% - 20px);
      margin: 10px;
      height: 310px;
      overflow: hidden;

      &:hover {
        @media only screen and (min-width: 1025px) {
          img {
            filter: grayscale(0);
            transform: scale(1.1);
          }
        }
      }
    }

    img {
      filter: grayscale(100%);
      object-fit: cover;
      height: 100%;
      transform: scale(1);
      transform-origin: center;
      transition: all 0.3s ease-in-out;
    }
  }
}

.btn-more {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid $text;
  font-size: 24px;
  line-height: 24px;
  color: $text;
  text-align: center;
  max-width: 120px;
  width: 100%;
  padding: 8px 44px 8px 12px;
  position: relative;
  overflow: hidden;

  &:hover {
    @media only screen and (min-width: 1025px) {
      .icon-reload {
        transform: translate(10%, 0) rotate(-360deg);
      }

      .dots {
        transform: translate(100%, 0);
        opacity: 0;
        letter-spacing: 20px;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 8px;
    left: 72px;
    opacity: 1;
    letter-spacing: 0;
    transition: all 0.2s linear, letter-spacing 0.6s ease-in-out;
    transform: translate(0, 0);
  }

  .icon-reload {
    position: absolute;
    top: 10px;
    transform: translate(190%, 0) rotate(0);
    transition: 0.3s linear;
  }
}

.animate {
  position: relative;
  overflow: hidden;

  &:hover {
    @media only screen and (min-width: 1025px) {
      &:after {
        width: 70%;
        transform: translate(0, 0);
        color: #dcaf7a;
      }
    }
  }

  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    transform: translate(-100%, 0);
    transition: all 0.6s ease-in-out;
  }
}

.back-to-top {}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}