
.icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-fb:before { content: '\e801'; } /* '' */
.icon-inst:before { content: '\e802'; } /* '' */
.icon-vk:before { content: '\e803'; } /* '' */
.icon-text-animate:before { content: '\e804'; } /* '' */
.icon-arrow-left:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-shop:before { content: '\e813'; } /* '' */