
.icon-icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-icon-fb:before { content: '\e801'; } /* '' */
.icon-icon-inst:before { content: '\e802'; } /* '' */
.icon-icon-vk:before { content: '\e803'; } /* '' */
.icon-icon-arrow-left:before { content: '\e805'; } /* '' */